<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="jaco_move_jaco_kinematic_chain">
        <param name="group" type="string" value="jaco_kinematic_chain" />
        <remap from="arm_ik" to="jaco_jaco_kinematic_chain_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="jaco_kinematic_chain_controller/follow_joint_trajectory" />
    </node>
</launch>
